
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

header{
    background-color: antiquewhite;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;


}

nav li{
    list-style: none;
    margin-right: 30px ;
    font-weight: 600;
    font-size: 1rem;


}


nav li a{
    text-decoration: none;
    color: rgb(40, 37, 37);
}

.nav-title{

    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #131313;


}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 64px;
    font-weight: 700;
    color:#131313; ;

}

.banner-description{
    font-size: 16px;
    color:#727272 ;
}
.btn-primary {
    box-sizing: 3px;
    background-color:#FF900E;
    padding: 15px 20px;
    border-radius: 10px;
    border: 0;

}

.banner img{
    width: 100%;
    margin-top: 20px ;
}

/* responsiv media queries */
/* this is for mobile version */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}


@media screen and (min-width: 576px) and (max-width:960px){

    nav{
        flex-direction: column;

    }
    header{
        padding: 50px;
    }
}

